body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  overflow: hidden
}


html, body, div{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}


.table-header{
  align-items: center;
  padding: 5px 20px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
}

canvas{
  background-color: rgb(62, 62, 62);
}

.canvas-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}