body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






html, body, div{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}


.table-header{
  align-items: center;
  padding: 5px 20px;
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
}

canvas{
  background-color: rgb(62, 62, 62);
}









@media screen and (min-width: 700px) {
  .canvas-container{
    display: flex;
     /* display: flex;
    flex-grow: 4; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 20vw;
  }
  input{
    /*put the input in the middle
    of the slide container*/
    display: flex;
    /* flex-shrink: 3; */
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; 
    margin: 0px;
    width: 8px;
    height: 175px;
    padding: 0 5px;
    margin-top: 120px;
  
  }
  .slide-container{
    display: flex;
  
  }
  .app-container{
    display: flex;
    justify-content: flex-end;
    
  }

 
}

@media screen and (max-width: 700px) {
  .app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  *{
    overflow: hidden
  }
}